.main-content_contact-page {
  width: 100%;
  background-color: var(--colour-white);
  padding: 20;
}

input,
select,
textarea {
  border: 1px solid var(--colour-gray-light-dark);
  padding: 10px;
  font-family: var(--ff-secondary);
}

textarea {
  height: 70%;
  min-height: 100px;
  min-width: 300px;
  resize: vertical;
}

.contact {
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
  padding: 10px 0 20px;
}

.form-wrapper {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 20px 0 20px;
}

.form-wrapper>* {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.submit-button {
  width: 300px;
  max-width: 300px;
  font-family: var(--ff-primary);
  background-color: var(--colour-black);
  color: var(--colour-white);
  text-align: center;
}

.main-content-header-nav {
  width: 70%;
  flex-direction: column;
  display: flex;
  padding: 30px 5px;
  margin: 0 50px 0;
}

.main-content-header-nav-font {
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
  font-family: "urw-din", arial, sans-serif;
  text-decoration: underline;
  text-shadow: none;
  font-style: normal;
  color: #000;
}

.main-content-header-font {
  font-family: var(--ff-primary);
}