.jackets {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.jackets .products {
  animation: show-jackets 1s forwards;
  opacity: 0;
}


@keyframes show-jackets {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  gap: 50px;
}

.product-specific {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 2rem 0;
}

.product-specific>* {
  flex: 1;
}

.product-specific__details {
  padding: 0px 30px;
}

.product-specific__details a {
  display: block;
  width: 95.767px;
  margin: auto;
}

.product-specific__price {
  font-size: 1.5em;
}

.product-image_thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}

.featured {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 50px auto;
  gap: 10px;
}

.reviews {
  text-align: center;
  padding: 50px;
  background-color: #e8e8e8;
}

.reviews__content {
  text-align: left;
  margin: auto;
}

.reviews__content div {
  margin: 20px;
}

.review__images {
  width: 80px;
  border-radius: 50%;
  float: right;
}

.reviews__name {
  display: block;
}


.reviews {
  background-color: #e8e8e8;
}

.products {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  box-sizing: border-box;
  list-style: none;
  padding: 5px;
}

.products img {
  grid-column: -1/1;
  max-height: 306px;
  object-fit: contain;
}

.products h2,
.products h3,
.products p {
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
  text-align: left;
}

.products--sale {
  display: flex;
}

.old-price {
  text-decoration: line-through;
}