html,
body {
    height: 100%;
    margin: 0;
    text-rendering: optimizespeed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


:root {
    --colour-gray-background: #F5F5F5;
    --colour-gray-light-dark:#726F6F;
    --colour-gray-dark: #2C2C2C;
    --colour-black: #000000;
    --colour-white: #FFFFFF;

    --ff-primary: "Bebas Neue";

    --ff-body: var(--ff-primary);
    --ff-header: var(--ff-primary);
    --ff-footer: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300:13px;
    --fs-400:14px;
    --fs-500:15px;
    --fs-600:16px;
    --fs-700:17px;
    --fs-800:18px;
    --fs-900:19px;

    --fs-body:var(--fs-400);
    --fs-primary-heading:var(--fs-900),var(--fw-bold);
    --fs-secondary-heading:var(--fs-700),var(--fw-semi-bold);
    --fs-nav: var(--fs-600);
    --fs-button: var(--fs-300);
}


body {
    background-color: var(--colour-black);
    color:var(--colour-black);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
}

header {
font-size: var(--fs-primary-heading);
font-family: var(--ff-header);
letter-spacing: 0.075em;
}



footer {
    font-size: var(--fs-secondary-heading);
    font-family: var(--ff-footer);
}



.header {
    background-color: var(--colour-gray-background);
    width: 100%;
    max-height: 180px;
    display: block;
    padding-bottom: 2px;
}

.header-info{
    color: var(--colour-white);
    background-color:var(--colour-gray-dark);
    letter-spacing: 0.3em;
    display: flex;
    justify-content: center;
    max-height: 45px;
    margin-bottom: 2px;
}

.header-content_wrapper {
    background-color: var(--colour-white);
    width: 100%;
    margin-bottom: 0px;
    position: relative;   
}

.header_content {
    position: static;
    display: flex;
    justify-content: space-between;
}

.header_content {
    padding: 0 6%;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

.header-content_left {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.header-logo {
    padding: 2.5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 181px;
}

.logo{
    display: block;
    width: 100%;
}

nav {
    align-self: flex-end;
    font-size: var(--fs-nav);
}

nav>ul {
    margin-left: 16px;
    list-style-type: none;
}

nav>ul, nav>ul>li {
    display: inline-block;
    padding: 6px 25px 2px;
    height: auto;
}

nav>ul>li>a {
    color: var(--colour-gray-dark);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

nav a:hover {
    color: var(--colour-black);
}
nav>ul>li>a::before{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--colour-gray-dark);
    position: absolute;
    bottom: -23px;
    transition: all ease-in-out 250ms;
}

nav>ul>li>a:hover::before{
    width: 100%;
}


.header-content_right {
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    width: 100%;
    padding: 0%;
    margin: 0px;
    background-color: var(--colour-gray-background);
}

.row-content_fullwidth {
    max-width: 1440px;
    display: block;
    position: relative;
}

.grid-item {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
}

.grid_container {
    display: grid;
    grid-template-columns: 25%, 25%, 25%, 25%;
    grid-template-rows: 50%,50%;
    gap: 2px;
    margin: 0px;
    
    grid-template-areas: 
    
}

.flex_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

#hero-img_learn-more {
    background: url("../images/hero-child&dad-rain.jpg");
}

#call-to-action {
    background: url("../images/Girl-forrest-fall.jpg");
}

#man-fjord-fall {
    background: url("../images/man-fjord-fall.jpg");
}

.content-block-middle-center_wrapper {
    align-items: center;
    display: block;
    color: var(--colour-white);
    max-width: 88%;
    margin: auto;
    text-align: center;
    position: relative;
}


.footer-info {
    background-color: var(--colour-white);
    width: 100%;
    padding: 0px;
    margin: 0%;
}


@media (max-width:1024px) {
    .header_content{
    padding: 0 6%;
    }
    .header-logo {
        padding: 3.5% 0;
        max-width: 161px;
    }
    nav>ul {
        margin-left: 8px;
    }
    nav>ul, nav>ul>li {
        padding: 6px 20px 2px;
    }
    nav>ul>li>a::before{
        bottom: -23px;
    }
}

@media (max-width:770px) {
    .header_content {
    padding: 0 5%;
}
.header-logo {
    padding: 5% 0;
    max-width: 141px;
}
    nav>ul {
        margin-left: 8px;
    }
    nav>ul, nav>ul>li {
        padding: 6px 15px 4px;
    }
    nav>ul>li>a::before{
        bottom: -27px;
    }
}




@media (max-width:650px) {
    .header-info{
        font-size: var(--fs-300,var(--fw-semi-bold));
    }
    
    .header_content {
    padding: 0 4%;
}
.header-logo {
    padding: 7% 0;
    max-width: 121px;
}

    nav>ul {
        margin-left: 6px;
    }
    nav>ul, nav>ul>li {
        padding: 6px 10px 6px;
        font-size: var(--fs-500);
    }
    nav>ul>li>a::before{
        bottom: -30px;
    }
}





@media (max-width:420.69px) {
    .header-info{
        font-size: var(--fs-300,var(--fw-semi-bold));
    }
    .header_content {
    padding: 0 3%;
}
.header-logo {
    padding: 8% 0;
    max-width: 91px;
}

    nav>ul {
        margin-left: 0px;
    }
    nav>ul, nav>ul>li {
        padding: 6px 6px 2px;
        font-size: var(--fs-400);
    }
    nav>ul>li>a::before{
        bottom: -21px;
    }
}