html {
    height: 100%;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

   
html:focus-within {
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
    --colour-gray-background: #F5F5F5;
    --colour-gray-dark: #2C2C2C;
    --colour-black: #000000;
    --colour-white: #FFFFFF;
}

body {
    background-color: var(--colour-black);
    margin: 0;
    font-family: "Bebas Neue", cursive;
}

.header {
    background-color: var(--colour-gray-background);
    width: 100%;
    min-height: 145px;
    display: block;
    padding-bottom: 2px;
}

.header-info{
    color: var(--colour-white);
    background-color:var(--colour-gray-dark);
    display: flex;
    justify-content: center;
    min-height: 48px;
    max-height: 80px;
    margin-bottom: 2px;
}

.header-content_wrapper {
    background-color: var(--colour-white);
    width: 100%;
    margin-bottom: 0px;
    position: relative;   
}

.header_content {
    position: static;
    display: flex;
    justify-content: space-between;
}

.header_content {
    width: 88%;
    padding: 0 6%;
    max-width: 1440px;
    min-height: 100px;
    max-height: 150px;
    margin: 0 auto;
}

.header-content_left {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.header-logo {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    display: block;
    max-width: 181px;
}

nav {
    align-self: flex-end;
}

nav>ul {
    margin-left: 16px;
    list-style-type: none;
}

nav>ul, nav>ul>li {
    display: inline-block;
    padding: 6px 25px 10px;
    height: auto;
}

nav>ul>li>a {
    color: var(--colour-gray-dark);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
}

nav a:hover {
    color: var(--colour-black);
}
nav>ul>li>a::before{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--colour-gray-dark);
    position: absolute;
    bottom: -38px;
    transition: all ease-in-out 250ms;
}

nav>ul>li>a:hover::before{
    width: 100%;
}

.header-content__right {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.content {
    width: 100%;
    padding: 0%;
    margin: 0px;
    background-color: var(--colour-gray-background);
}

.raw-content_fullwidth {
    display: block;
    position: relative;
}

.grid_container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,max(1440));
    gap: 2px;
    grid-template-areas: auto;
    margin-bottom: 10px;
}
.grid-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.flex_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img {
    max-width: 1440px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: auto;
}