html {
    height: 100%;
}

body {
    background-color: rgb(60, 149, 218);
    height: 100%;
    margin: 10px;

}
h1 {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
    align-items: center;
}
.parent-container{
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    align-items: center;
    padding: 10px;
}

.container{
    background-color: black;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 50%;
    align-items: center;
    padding: 10px;
}

.one {
background-color: rgb(33, 110, 33);
}

.two {
    background-color: rgb(222, 85, 35);
}


.three {
    background-color: rgb(212, 148, 51);
}

.item {
    width: 400px;
    height: 400px;
    margin: 10px;
}
