html {
    height: 100%;
}
html:focus-within {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(60, 149, 218);
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "myheader mynav"
    "mymain mynav"
    "mymain myfooter";
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: auto auto;
}
Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
    align-items: center;
}
.parent-container{
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    align-items: center;
    margin-top: 10px;
}

.container{
    background-color: black;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 50%;
    align-items: center;
    margin-top: 10px;
}

.one {
background-color: rgb(33, 110, 33);
}

.two {
    background-color: rgb(222, 85, 35);
}


.three {
    background-color: rgb(212, 148, 51);
}

.item {
    width: 400px;
    height: 400px;
    margin: 10px;
}
